.home{
display: flex;
justify-content: center;
margin-left:100px ;
margin-right: 100px;
max-width: 1500px;
}

.container>img{

   width: 100%;

   margin-bottom: -80px;
   z-index: -1;
   mask-image: linear-gradient(to bottom,Rgba(0,0,0,1),Rgba(0,0,0,0));
   border: 1px solid black;
}
.product__row{
   display: flex;
   z-index: 1;
   margin-left: 5px;
   margin-right: 5px;
}
