.login{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login>img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.login_container{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    height: auto;
}
.login_container>h1{
    font-weight: 600;
    margin-bottom: 20px;
}
.login_container>form>h5{
    margin-bottom: 5px;
}
.login_container>form>input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}
.login_container>p{
    margin-top: 5px;
    font-size: 12px;
}
.button1
{
    border: 1px solid goldenrod;
    background-color: goldenrod;
    padding: 10px;
    width: 100%;
    align-items: center;
    border-radius: 2px;
    margin-top: 10px;
}
.button2{
   
    width: 100%; 
    padding: 10px;
    border-radius: 2px;

}

